USE [master]
GO
/****** Object:  Database [TwincatSQL]    Script Date: 29.08.2018 22:44:05 ******/
CREATE DATABASE [TwincatSQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TwincatSQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TwincatSQL.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TwincatSQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\TwincatSQL_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TwincatSQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TwincatSQL]
GO
/****** Object:  Table [dbo].[MyTable_Struct]    Script Date: 29.08.2018 22:44:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MyTable_Struct](
	[ID] [bigint] NULL,
	[Timestamp] [date] NULL,
	[Name] [varchar](50) NULL,
	[Sensor1] [real] NULL,
	[Sensor2] [real] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
